setuptools>=65.5.1
wheel>=0.38.0
streamlit
streamlit_audiorec
protobuf==3.20.0
numpy<2.0.0,>=1.21.6
--extra-index-url https://download.pytorch.org/whl/cpu
torch
edge-tts
faster-whisper
groq
pygame
sounddevice==0.4.6
pyarrow==10.0.1
soundfile==0.12.1

